.container {
    align-items: center;
    margin-top : 50px;
    text-align :center;
    
}
table {
    margin : auto;
}
input[type=text] {
    margin : 15px auto;
    width: 220px;
    height: 33px;
    font-size: 28px;
    /* border : 1px solid grey; */
    transition: ease-in-out, width .35s ease-in-out;
    text-align : right;
    border : none
}

input[type=text]:focus {
    width: 230px;
    outline : none;
  }

button {
    font-size: 25px;
    width: 55px;
    height: 50px;
    border : none;
    border-radius : 40px;
}
button:hover{
    background-color : grey;
}
button:focus{

}
.calculator {
    display : inline-block;
    border: 1px solid black;
    padding: 6px;
    background-color: white;
    border-radius: 10px;
    box-shadow:         3px 3px 5px 6px #ccc;
}

button.plus {
    background-color : #FC766AFF;
}
button.plus:hover {
    filter: brightness(0.8);
  }

button.multiply{
    background-color : #5B84B1FF
}
button.multiply:hover {
    filter: brightness(0.8);
  }

button.mod{
    background-color: #5F4B8BFF;
}
button.mod:hover {
    filter: brightness(0.8);
  }

button.minus{
    background-color: #42EADDFF;
}

button.minus:hover {
    filter: brightness(0.8);
  }

button.equalto{
    background-color: #ADEFD1FF ;
}
button.equalto:hover{
    filter : brightness(0.8);
}
button:focus {
    outline:0;
}